In [14]:
import pandas as pd

In [15]:
oo = pd.read_csv('../data/olympics.csv', skiprows=4)
oo

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
...,...,...,...,...,...,...,...,...,...,...
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

## index

In [16]:
oo.index

RangeIndex(start=0, stop=29216, step=1)

In [17]:
oo.index[90]

90

## set_index()

In [18]:
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [19]:
# will change the index to the Athlete list
oo.set_index('Athlete')

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver
...,...,...,...,...,...,...,...,...,...
"ENGLICH, Mirko",Beijing,2008,Wrestling,Wrestling Gre-R,GER,Men,84 - 96kg,M,Silver
"MIZGAITIS, Mindaugas",Beijing,2008,Wrestling,Wrestling Gre-R,LTU,Men,96 - 120kg,M,Bronze
"PATRIKEEV, Yuri",Beijing,2008,Wrestling,Wrestling Gre-R,ARM,Men,96 - 120kg,M,Bronze
"LOPEZ, Mijain",Beijing,2008,Wrestling,Wrestling Gre-R,CUB,Men,96 - 120kg,M,Gold
"BAROEV, Khasan",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,96 - 120kg,M,Silver

In [21]:
#The change was not permanent because 'inplace=False'
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [12]:
oo.set_index('Athlete',inplace=True)
oo.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [22]:
# To revert the index changes
oo.reset_index()

,index,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
...,...,...,...,...,...,...,...,...,...,...,...
29211,29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [23]:
tmp = oo.set_index('Athlete')
tmp

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver
...,...,...,...,...,...,...,...,...,...
"ENGLICH, Mirko",Beijing,2008,Wrestling,Wrestling Gre-R,GER,Men,84 - 96kg,M,Silver
"MIZGAITIS, Mindaugas",Beijing,2008,Wrestling,Wrestling Gre-R,LTU,Men,96 - 120kg,M,Bronze
"PATRIKEEV, Yuri",Beijing,2008,Wrestling,Wrestling Gre-R,ARM,Men,96 - 120kg,M,Bronze
"LOPEZ, Mijain",Beijing,2008,Wrestling,Wrestling Gre-R,CUB,Men,96 - 120kg,M,Gold
"BAROEV, Khasan",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,96 - 120kg,M,Silver

## reset_index()

In [24]:
tmp.reset_index()

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver
...,...,...,...,...,...,...,...,...,...,...
29211,"ENGLICH, Mirko",Beijing,2008,Wrestling,Wrestling Gre-R,GER,Men,84 - 96kg,M,Silver
29212,"MIZGAITIS, Mindaugas",Beijing,2008,Wrestling,Wrestling Gre-R,LTU,Men,96 - 120kg,M,Bronze
29213,"PATRIKEEV, Yuri",Beijing,2008,Wrestling,Wrestling Gre-R,ARM,Men,96 - 120kg,M,Bronze
29214,"LOPEZ, Mijain",Beijing,2008,Wrestling,Wrestling Gre-R,CUB,Men,96 - 120kg,M,Gold
29215,"BAROEV, Khasan",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,96 - 120kg,M,Silver

In [25]:
# Must chage 'inplace' to True!
tmp

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver
...,...,...,...,...,...,...,...,...,...
"ENGLICH, Mirko",Beijing,2008,Wrestling,Wrestling Gre-R,GER,Men,84 - 96kg,M,Silver
"MIZGAITIS, Mindaugas",Beijing,2008,Wrestling,Wrestling Gre-R,LTU,Men,96 - 120kg,M,Bronze
"PATRIKEEV, Yuri",Beijing,2008,Wrestling,Wrestling Gre-R,ARM,Men,96 - 120kg,M,Bronze
"LOPEZ, Mijain",Beijing,2008,Wrestling,Wrestling Gre-R,CUB,Men,96 - 120kg,M,Gold
"BAROEV, Khasan",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,96 - 120kg,M,Silver

In [26]:
tmp.reset_index(inplace=True)

In [27]:
tmp

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver
...,...,...,...,...,...,...,...,...,...,...
29211,"ENGLICH, Mirko",Beijing,2008,Wrestling,Wrestling Gre-R,GER,Men,84 - 96kg,M,Silver
29212,"MIZGAITIS, Mindaugas",Beijing,2008,Wrestling,Wrestling Gre-R,LTU,Men,96 - 120kg,M,Bronze
29213,"PATRIKEEV, Yuri",Beijing,2008,Wrestling,Wrestling Gre-R,ARM,Men,96 - 120kg,M,Bronze
29214,"LOPEZ, Mijain",Beijing,2008,Wrestling,Wrestling Gre-R,CUB,Men,96 - 120kg,M,Gold
29215,"BAROEV, Khasan",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,96 - 120kg,M,Silver

## sort_index()

In [28]:
tmp.head()

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [29]:
tmp.set_index('NOC', inplace=True)

In [30]:
tmp

,Athlete,City,Edition,Sport,Discipline,Gender,Event,Event_gender,Medal
NOC,,,,,,,,,
HUN,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,Men,100m freestyle,M,Gold
AUT,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,Men,100m freestyle,M,Silver
GRE,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,Men,100m freestyle for sailors,M,Bronze
GRE,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,Men,100m freestyle for sailors,M,Gold
GRE,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,Men,100m freestyle for sailors,M,Silver
...,...,...,...,...,...,...,...,...,...
GER,"ENGLICH, Mirko",Beijing,2008,Wrestling,Wrestling Gre-R,Men,84 - 96kg,M,Silver
LTU,"MIZGAITIS, Mindaugas",Beijing,2008,Wrestling,Wrestling Gre-R,Men,96 - 120kg,M,Bronze
ARM,"PATRIKEEV, Yuri",Beijing,2008,Wrestling,Wrestling Gre-R,Men,96 - 120kg,M,Bronze
CUB,"LOPEZ, Mijain",Beijing,2008,Wrestling,Wrestling Gre-R,Men,96 - 120kg,M,Gold
RUS,"BAROEV, Khasan",Beijing,2008,Wrestling,Wrestling Gre-R,Men,96 - 120kg,M,Silver

In [35]:
tmp.sort_index(inplace=True, ascending=True)
tmp

,Athlete,City,Edition,Sport,Discipline,Gender,Event,Event_gender,Medal
NOC,,,,,,,,,
AFG,"NIKPAI, Rohullah",Beijing,2008,Taekwondo,Taekwondo,Men,- 58 kg,M,Bronze
AHO,"BOERSMA, Jan D.",Seoul,1988,Sailing,Sailing,Men,board (division II),M,Silver
ALG,"HAMMAD, Abderrahmane",Sydney,2000,Athletics,Athletics,Men,high jump,M,Bronze
ALG,"MOUSSA, Mustapha",Los Angeles,1984,Boxing,Boxing,Men,75 - 81kg (light-heavyweight),M,Bronze
ALG,"MORCELI, Nourredine",Atlanta,1996,Athletics,Athletics,Men,1500m,M,Gold
...,...,...,...,...,...,...,...,...,...
ZZX,"BRANDT, Francois Antoine",Paris,1900,Rowing,Rowing,Men,pair-oared shell with coxswain (2+),M,Gold
ZZX,"KLEIN, Roelof",Paris,1900,Rowing,Rowing,Men,pair-oared shell with coxswain (2+),M,Gold
ZZX,"FREAKE, Frederick Maitland",Paris,1900,Polo,Polo,Men,polo,M,Silver
ZZX,"HEARN, Lacey",St Louis,1904,Athletics,Athletics,Men,4miles team,M,Silver
ZZX,"DIAZ, Manuel",St Louis,1904,Fencing,Fencing,Men,foil team,M,Gold

In [36]:
tmp.sort_index(inplace=True, ascending=False)
tmp

,Athlete,City,Edition,Sport,Discipline,Gender,Event,Event_gender,Medal
NOC,,,,,,,,,
ZZX,"DIAZ, Manuel",St Louis,1904,Fencing,Fencing,Men,foil team,M,Gold
ZZX,"FLACK, Edwin",Athens,1896,Tennis,Tennis,Men,doubles,M,Bronze
ZZX,"AABYE, Edgar",Paris,1900,Tug of War,Tug of War,Men,tug of war,M,Gold
ZZX,"FAUQUET LEMAITRE, A.",Paris,1900,Polo,Polo,Men,polo,M,Bronze
ZZX,"LIGHTBODY, James",St Louis,1904,Athletics,Athletics,Men,4miles team,M,Silver
...,...,...,...,...,...,...,...,...,...
ALG,"BENIKHLEF, Amar",Beijing,2008,Judo,Judo,Men,81 - 90kg (middleweight),M,Silver
ALG,"BOULMERKA, Hassiba",Barcelona,1992,Athletics,Athletics,Women,1500m,W,Gold
ALG,"MOUSSA, Mustapha",Los Angeles,1984,Boxing,Boxing,Men,75 - 81kg (light-heavyweight),M,Bronze
AHO,"BOERSMA, Jan D.",Seoul,1988,Sailing,Sailing,Men,board (division II),M,Silver
AFG,"NIKPAI, Rohullah",Beijing,2008,Taekwondo,Taekwondo,Men,- 58 kg,M,Bronze

## loc[]

In [37]:
oo.loc['BOLT, Usain']

KeyError: 'BOLT, Usain'

In [39]:
oo.set_index('Athlete', inplace=True)

In [40]:
oo.loc['BOLT, Usain']

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"BOLT, Usain",Beijing,2008,Athletics,Athletics,JAM,Men,100m,M,Gold
"BOLT, Usain",Beijing,2008,Athletics,Athletics,JAM,Men,200m,M,Gold
"BOLT, Usain",Beijing,2008,Athletics,Athletics,JAM,Men,4x100m relay,M,Gold

In [41]:
oo.reset_index(inplace=True)

In [42]:
oo.loc[oo.Athlete == 'BOLT, Usain']

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
27552,"BOLT, Usain",Beijing,2008,Athletics,Athletics,JAM,Men,100m,M,Gold
27570,"BOLT, Usain",Beijing,2008,Athletics,Athletics,JAM,Men,200m,M,Gold
27603,"BOLT, Usain",Beijing,2008,Athletics,Athletics,JAM,Men,4x100m relay,M,Gold

## iloc[]

In [43]:
oo.head()

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [44]:
oo.iloc[1700]

Athlete         RABOT, Pierre
City                   London
Edition                  1908
Sport                 Sailing
Discipline            Sailing
NOC                       FRA
Gender                    Men
Event                      6m
Event_gender                X
Medal                  Bronze
Name: 1700, dtype: object

In [45]:
oo.loc[1700]

Athlete         RABOT, Pierre
City                   London
Edition                  1908
Sport                 Sailing
Discipline            Sailing
NOC                       FRA
Gender                    Men
Event                      6m
Event_gender                X
Medal                  Bronze
Name: 1700, dtype: object

In [48]:
oo.iloc[[1700,1567]]

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
1700,"RABOT, Pierre",London,1908,Sailing,Sailing,FRA,Men,6m,X,Bronze
1567,"SCOTT, Charles Hubert",London,1908,Lacrosse,Lacrosse,GBR,Men,lacrosse,M,Silver

In [49]:
oo.loc[[1700,1567]]

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
1700,"RABOT, Pierre",London,1908,Sailing,Sailing,FRA,Men,6m,X,Bronze
1567,"SCOTT, Charles Hubert",London,1908,Lacrosse,Lacrosse,GBR,Men,lacrosse,M,Silver

In [50]:
oo.loc[1:4]

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [51]:
oo.iloc[1:4]

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold